<html>
    <head>

        <title>
            <%=title %>

        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>

    <body>
        <%- include('_header'); %> <!--fixed part from partials-->
        <%-body%>                   <!--variable part-->
        <%- include('_footer'); %> <!--fixed part from partials-->


        <%- script %>
    </body>
</html>